.formContainer {
  max-width: 50%;
  margin: auto;
  background: #ffffff;
  border-radius: 8px;
}

form {
  margin: 64px;
  letter-spacing: 2px;
}

.customReactSelect {
  margin-top: 32px;
}

.customReactSelect > div {
  border: none;
  border-bottom: 1px solid #7f7f7f;
  border-radius: 0;
  color: #7f7f7f;
}

select {
  border: none;
  border-bottom: 1px solid #7f7f7f;
  font-size: 16px;
  height: auto;
  margin-top: 32px;
  outline: 0;
  padding: 15px;
  width: 100%;
  letter-spacing: 2px;
  color: #7f7f7f;
  padding: 6px;
}

button {
  padding: 8px 39px 8px 39px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
  color: #fff;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-top: 40px;
}

fieldset {
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}
